@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.chartcontainer{
	width: 100%;
	min-height: 100vh;
	background: black;
}

.chart{
	
	width: 60%;
	min-height: 80vh;
	margin:auto;
}
.chart h1{
	color:white;
	margin-left: 220px;	
	padding-top: 20px;
}

.area{
	width: 100%;
	min-height: 80vh;
	background:white;
	margin-top:20px;
	padding:10px;
	box-shadow: 5px 10px 20px white;
	border-radius:20px;
	border: white solid 1px;
}