@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.postcontainer{
	width: 100%;
	min-height: 100vh;
	background:black;
}

.main{
	width: 80%;
	margin:auto;
	min-height: 100vh;
}
.main button{
	height:40px;
	padding:5px;
	bottom:0px;
	right:0px;
	background-color: LightSkyBlue;
	position:fixed;
	border-radius:20px;
	margin-right:175px;
	margin-bottom:10px;
	color:white;
	font-weight:bold;
	font-size: 22px;
}

.main h2{
	color: white;
	text-align: center;
	padding-top: 20px;
}
.columnname{
	width:90%;
	height: 50px;
	margin:auto;
	color:white;
	margin-top:10px;
	font-weight:bold;
	top:0;
	position:sticky;
	background: black;
	text-align:center;
	display:flex;
	border:white solid 1px;
}

.columnname #columnpostid{
	width:110px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}

.columnname #columnusername{
	width:170px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
	
}

.columnname #columnpostimage{
	width:220px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}

.columnname #columnpost{
	width:410px;
	height: 49px;
	padding-top:15px;
	border-right:white solid 1px;
}


.adjust{
	width:100%;
	min-height: 80vh;
}

.adjust a{
	text-decoration: none;
}
.details{
	width:90%;
	min-height: 120px;
	margin:auto;
	color:white;
	margin-top:5px;
	display:flex;
	border-radius:20px;
	border: white solid 1px;
}

.details #postid{
	width:110px;
	min-height: 120px;
	text-align: center;
	padding-top:50px;
	border-right:white solid 1px;
}

.details #username{
	width:170px;
	min-height: 120px;
	text-align: center;
	padding-top:50px;
	padding-left:5px;
	overflow:hidden;
	border-right:white solid 1px;
}

.details #postimage{
	width:220px;
	min-height: 120px;
	border-right:white solid 1px;
}
.details #postimage img{
	width:200px;
	min-height: 120px;
	margin-left:10px;
	border-radius:20px;
	padding:5px; 
	
}

.details #post{
	width:410px;
	min-height: 120px;
	text-align: center;
	padding-top:50px;
	padding-left:5px;
}




